* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    margin-top: 50px;
    border: 1px solid black;
}

.display {
    padding: 10px 20px;
}

.previous-operation {
    min-height: 32px;
    font-size: 20px;
}

.current-operation {
    min-height: 64px;
    font-size: 40px;
}

button {
    cursor: pointer;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
    border: 2px black solid;
    border-radius: 5px;
    font-size: 20px;
}

.op-btn {
    background-color: aqua;
}

.green-btn {
    background-color: rgb(51, 255, 20);
}